@model OMS.Core.DTO.User

@{
    ViewBag.Title = "Index";
}





<main>
    <center>

        <div class="section"></div>



        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <img class="responsive-img " style="width: 90px; margin-right: 80%;" src="~/Content/Images/logo.png" />

                <form class="col s12" method="post">
                    <div class='row'>
                        <div class='col s12'></div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>

                            <div class="form-group">
                                <p>Username</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.account.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.account.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <div class="form-group">
                               <p>Password</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.account.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.account.PasswordHash, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <a href='#!' style='float: right;'>Forgot Password?</a>

                    </div>

                    <br />
                    <center>
                        <div class='row'>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Login" style="margin-bottom:10px;" class="col s12 btn btn-large #1b5e20 green darken-4" />
                                </div>
                            </div>
                            <a href="#!">Create account</a>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
