
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Employee = "active";
}

<div class="panel panel-success">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Employee List</h4>
        <div class="pull-right">
            <a href="javascript:void(0)" class="btn btn-primary btnAddEmployee" data-modal-url="@Url.Action(EmployeeController.ActionNameConstants.CreateNewEmployee,EmployeeController.NameConst)">Add Employee</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <input type="text" class="form-control" placeholder="Search Product" id="txtProductSearch" />
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="margin-top:30px;">
            <table id="employeeList">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

